@model FlightJournal.Web.Models.Training.Predefined.Grading

@{
    ViewBag.Title = _("Delete");
}
<h2>@_("Deletion not possible")</h2>
<hr />
<h3>@_("The item is in use, and therefore cannot be deleted")</h3>
<fieldset>
    @Html.Partial("_PartialGradingReadOnly", Model);
</fieldset>
<p>
    @Html.Partial("_PartialBackToList");
</p>
