<div class="page-header">
    <h1>Redirecting outside the local url path is not supported.</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Phishing attempt?</h2>
        <p>We have received external reports of Phishing attempts using this url redirect functionality, these are now being rejected.</p>
        <p>Visit <a href="https://github.com/janhebnes/startlist.club/issues/245">https://github.com/janhebnes/startlist.club/issues/245</a></p>
        <p><pre>Invalid redirect was attempted with @ViewBag.InvalidRedirectUrl</pre></p>
    </div>
</div>