@{
    ViewBag.Title = "Kontakt";
}

<h2>Kontakt</h2>
<p>
    Jan Hebnes<br />
    <a href="jan.hebnes@gmail.com">jan.hebnes@gmail.com</a><br />
    <br />
    Siden er udarbejdet for at fungere som startliste for <a href="http://www.flyveklubben.dk">http://www.flyveklubben.dk</a><br />
    <br />
    Den er forsøgt holdt generel således at pris beregningen for en anden klub nemt kan lægges ind via en ekstern .Net assembly. <br />
    Den er baseret på ASP.Net MVC 3 og Entity Framework 4.1 med en Code First tilgang til databasen. 
</p>
