
/.hg
/_ReSharper.FlightLog
/*.suo
/*.user

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/FlightLog.Web/App_Data/ASPNETDB.MDF
/FlightLog.Web/App_Data/aspnetdb_log.ldf
/FlightLog.Web/FlightLog.Web.Publish.xml
FlightJournal.Web/App_Data/ServiceCredentials.Demo.config
FlightJournal.Web/App_Data/ServiceCredentials.Release.config