<?xml version="1.0" encoding="utf-8" ?>
<!-- This is a config include for removing the production values from the source code repository - check out https://papercut.codeplex.com/ for dev testing smtp services-->
<smtp from="Startlist.club &lt;no-reply@startlist.club&gt;">
  <network host="localhost" userName="" password="" />
</smtp>