<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<serviceCredentials configSource="App_Data\ServiceCredentials.Release.config" xdt:Transform="Remove" />
  <system.net>
    <mailSettings>
      <smtp configSource="App_Data\mailSettings.Release.config" xdt:Transform="Remove" />
    </mailSettings>
  </system.net>
	<connectionStrings xdt:Transform="Replace">
		<add name="FlightJournal.Membership" connectionString="data source=.\SQLEXPRESS;Initial Catalog=FlightJournal.Membership;Database=FlightJournal.Membership;Integrated Security=SSPI;multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
		<add name="FlightJournal" connectionString="data source=.\SQLEXPRESS;Initial Catalog=FlightJournal;Database=FlightJournal;Integrated Security=SSPI;multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
    <add name="OGN.FlightLog" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FlightJournal.OGNFlightLog;Database=FlightJournal.OGNFlightLog;Integrated Security=SSPI;multipleactiveresultsets=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<rule name="Redirect https://demo.startlist.club to http" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="demo.startlist.club" />
					</conditions>
					<action type="Redirect" url="http://demo.startlist.club/{R:0}" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>


  <!--Disable log4net until we have a good solution for Azure-->
  <log4net>
    <root>
      <appender-ref ref="file" xdt:Transform="Remove"/>
      <appender-ref ref="startland"  xdt:Transform="Remove"/>
      <appender-ref ref="remote"  xdt:Transform="Remove"/>
    </root>
  </log4net>

</configuration>