@model FlightJournal.Web.Models.Location

@{
    ViewBag.Title = "Delete";
}

<div class="pull-right alert alert-warning text-right"><span class="glyphicon glyphicon-warning-sign"></span> Landingsstedet benyttes ikke af nogle registreringer og kan slettes.</div>

<h2>Ønsker ud at slette @Model.Name?</h2>
<hr/>
<fieldset>
    <legend>Stednavn</legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p style="margin-top: 30px;">
        <div class="btn-group">
            <input type="submit" value="Bekræft sletning af @Model.Name?" class="btn btn-danger" />
            <a href="javascript:window.history.back();" class="btn btn-default">Tilbage</a>
        </div>
    </p>
}
