@model FlightJournal.Web.Models.Location

@{
    ViewBag.Title = "Delete";
}
<h2>Deletion not possible</h2>
<hr/>
<h3>The location is in use by flight records and therfore cannot be deleted</h3>
<fieldset>
    <legend>Location</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
