@model FlightJournal.Web.Models.Location

@{
    ViewBag.Title = "Delete";
}

<div class="pull-right alert alert-danger text-right"><span class="glyphicon glyphicon-alert"></span> Landingsstedet er blevet taget i brug af en flyvning og kan derfor ikke slettes. <br/>Du skal fjerne de registreringer som benytter landingsstedet for at kunne fjerne det helt. 
</div>

<h2>Sletning ikke mulig</h2>
<hr/>
<fieldset>
    <legend>Stednavn</legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
    <p style="margin-top: 30px;">
        <a href="javascript:window.history.back();" class="btn btn-default">Tilbage</a>
    </p>
