@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login error.</title>
</head>
<body>
    <h2>Fail to login.</h2>
    <div>
        Error: <br />
        @Html.ValidationSummary()
    </div>
</body>
</html>
