body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Editing Forms */
.display-label, .editor-label {
    float:left;
	clear:both;
    width:150px;
    text-align:right;
    margin: 1em 1em 0 0;
}

.display-field, .editor-field {
    margin: 1em 0 0 0;
	min-height: 25px;
}

/* tablesorter */
table.tablesorter thead tr .header {
	background-image: url(tablesorter.bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(tablesorter.asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(tablesorter.desc.gif);
}

.ui-autocomplete {
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.ui-autocomplete .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

/* Override jquery-ui- default theme and bootstrap theme */
body, .ui-widget {
font-family:"Segoe UI", Verdana, Arial, sans-serif;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"],
	input[type="time"],
	input[type="datetime-local"],
	input[type="month"] {
		line-height: inherit;
	}
}

.ui-widget {
	font-size: inherit;
}
