@{
    ViewBag.Title = "Password ResetFinal";
}

<h2>Password Reset</h2>
<p>A new password has been created and e-mailed to you.</p>

<p> <a href="/Account/LogOn" >Log On with your new password</a></p>
