@using FlightJournal.Web
@using FlightJournal.Web.Controllers
@using FlightJournal.Web.Extensions
@model IEnumerable<FlightJournal.Web.Models.Club>
@using (Html.BeginForm("SetCurrentClub", "Club", FormMethod.Post))
{
    <select name="shortName" onchange="submit()" class="btn btn-default btn-xs">
        <option value="">@_("Select a flightclub (unfiltered)")</option> 
        @foreach (var item in Model)
        {
            <option value="@Html.DisplayFor(modelItem => item.ShortName)" @{
            if (Request.Club().ShortName == item.ShortName)
            {
                <text>selected</text>
            }}>
                @Html.DisplayFor(modelItem => item.Name)
            </option>
        }
    </select>
}