/* Autocomplete styles */
.ui-button
{
    margin-left: -1px;
}
.ui-button-icon-only .ui-button-text
{
    /*padding: 0.35em;*/
    padding: none;
}
.ui-autocomplete-input
{
    margin: 0; /*padding: 0.48em 0 0.47em 0.45em;*/
}

/* Focus from Theme orange */
.ui-autocomplete-input:focus
{
    background-color: #ffd09d;
    border: 1px solid #ff9622;
}

/* table styles for table sorting */
table.tablesorter
{
    /* font-family: arial; */ 
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    /* font-size: 8pt; */
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th
{
    /* background-color: #e6EEEE; */
    /* border: 1px solid #FFF; */ 
    /* font-size: 8pt; */
    padding: 4px 18px 4px 4px;
}
table.tablesorter thead tr .header
{
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td
{
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td
{
    background-color: #F0F0F6;
}
table.tablesorter thead tr .headerSortUp
{
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown
{
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
{
    background-color: #888; /* #8dbdd8; */
}

.awesomeBtn
{
    display: inline-block;
    padding: 8px 12px;
    box-shadow: 2px 2px 5px #aeaeae;
    border: 1px solid #aeaeae;
    background-color: #f1f1f1;
    font-size:0.9em;
    border-radius: 5px;
    text-decoration: none;
    color: steelblue;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.awesomeBtn:hover
{
    opacity: 1;
    background-color: salmon;
    color: white;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.awesomeBtn:link
{
    text-decoration: none;
}


table.tablesorter tbody td
{
    vertical-align: middle;
}

.error
{
    color: red;
    font-weight: bold;
}

.display-label{
  float:left;
  clear:left;
  width:100px;
  margin:5px 0 3px 0;
}

.display-label label 
{
    margin:0;
}

.display-field{
  float:left;
  clear:right;
  margin:5px 0 3px 0;
}

.editor-label{
  float:left;
  clear:left;
  width:100px;
  margin:5px 0 3px 0;
}

.editor-field{
  float:left;
  clear:right;
  margin:5px 0 3px 0;
}

.editor-field input.submit{
  width:100px;  
  padding: 8px 12px;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: 2px; text-indent: -9999999px; }