@using System.ServiceModel.Channels
@using FlightJournal.Web.Extensions
@{
    ViewBag.Count = "0";
    using (var db = new FlightJournal.Web.Models.FlightContext())
    {
        ViewBag.Count = db.Flights.Count().ToString();
    }
}
<div class="jumbotron">
    <p>
        <strong>Startlist.club</strong> er et <a href="https://github.com/janhebnes/startlist.club">open source</a> projekt skabt for at understøtte alle nordiske flyveklubbers elektroniske startlister.
    </p>
</div>
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-6">
            @Html.Action("ManagePilotBindingPartial", "Manage")
        </div>
        <div class="col-md-6">
            @Html.Action("ClubPresentation", "Club")
        </div>
    </div>
}
<hr/>
<div class="row">
    <div class="col-md-6">
        <h2>Projekt fælles startliste</h2>
        <p>
            Kildekoden er open source og du er velkommen til at kopiere, tilpasse og bruge koden.
            Systemet er opbygget på baggrund af erfaringerne i <a href="http://www.flyveklubben.dk">Øst-Sjællands flyveklub</a>.<br />
        </p>
        <p>
            Formålet med dette projekt er, at gøre startlisten let tilgængelig, dynamisk og nem at håndtere. I mange (svæve-) flyveklubber bruger man i dag pen og papir til startlisten og der er udviklet mange forskellige systemer i klubberne. Med denne Startliste er der lavet en samlet platform til klubberne i Danmark og muligvis Norden. Dette er et forsøg på, at få alle kræfterne samlet til at lave et fælles system, som alle kan bidrage til, have gavn og glæde af.
        </p>
        <h2>Kom i gang med din klub</h2>
        <p>
            Ønsker du at gøre brug af platformen bedes et medlem fra bestyrelsen kontakte Jan Hebnes på <a href="mailto:jan.hebnes@gmail.com">jan.hebnes@gmail.com</a>.<br/>
            Har du brug for hjælpe eller har spørgsmål er du meget velkommen til at benytte facebook siden <a href="https://www.facebook.com/startlist.club">https://www.facebook.com/startlist.club</a>.
        </p>
        <hr />
        <h3>
            Hvad kan systemet
        </h3>
        <p>
            Det er nu muligt at registrere dine flyvninger, se rettelseshistorik, se statistik på dag/måned/år, lave udtræk til Excel (CSV) og logge på via Facebook og Google. <br />
            Der er mulighed for at filtrere oplysninger på baggrund af klub og fastholde klubpiloter samt flyvepladser i alle visninger og statistikker.
        </p>
        <p>
            Der er tre niveauer af rettigheder i systemet, en klub Pilot og en Editor og en Manager.<br />
            <b>En klub pilot </b> kan registrere flyvninger samt redigere i dem op til 48 efter den registerede dato. Der er rettelseshistorik på alle ændringer.<br />
            <b>Editor</b> kan frit redigere flyvninger efter de 48 timer og kan registrere nye fly og landingssteder, samt slette flvyninger.<br/>
            <b>Manager</b> kan ændre i klubbens registrerede piloter samt det som editor har adgang til. 
        </p>
        <p>
            <strong>Login systemet</strong> er uafhængigt af pilotlisterne så hvis du vil oprettes som pilot skal du kontakte din klubs redaktør.
        </p>
        <p>
            <strong>Rettelses historikken</strong> fungerer efter de samme principper som en Wiki hvor man til enhver tid kan se hvem, der har rettet hvilke flyvninger. Dette kan gøres op til 48 timer efter flyvningen fandt sted.
        </p>
        <hr />
        <h3>
            Tilpas systemet (til .Net udviklere)
        </h3>
        <p>
            Løsningen er baseret på ASP.Net MVC og Entity Framework med en Code First tilgang til databasen. Det er muligt at bidrage til kildekoden via projektet på Github.
            Forudsætningen for at kode bidraget tages med i kernen er at koden har generel værdi for alle klubber og ikke udgør en specialisering, der vil gøre systemet mere besværligt for andre at bruge.
        </p>
        <p>
            Grundtanken er at man kan klare sig rigtig langt ved at kassereren henter flyvestatistikken en gang om måneden og medlemmerne hjælper med de rette kommentarer til flyvningerne undervejs.
        <p>
            <br/>
            <a class="btn btn-primary btn-lg" role="button" href="https://github.com/janhebnes/startlist.club">
                <span class="glyphicon glyphicon-cloud-upload"></span> Projektsiden på Github.com
            </a>
            <br/>
            <em>https://github.com/janhebnes/startlist.club</em>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="https://github.com/janhebnes/startlist.club">
                <span class="glyphicon glyphicon-cloud-upload"></span> Projektsiden på Github.com
            </a><em>https://github.com/janhebnes/startlist.club</em>
        </p>

        @if (!Request.IsAuthenticated)
        {
            <div class="alert alert-info">
                <h4>Vælg flyveklub</h4>
                @Html.Action("ClubPresentation", "Club")
            </div>
        }

        <div class="alert alert-info">
            <h4>TODO 2015 (post-release)</h4>
            #TODO: Pilot redigering udvides så man kan vælge kode og om der skal sendes bruger oplysninger til personen (verfify email slår automatisk til).<br />
            #TODO: Trimme redigering af flyvningerne så pilot på tværs af klubberne<br/>
            #TODO: Validere at opret bruger processen har en god og pæn validering af bruger proces<br/>
            #TODO: Introducere at man kan navigere i startlisten via kalender dage udover tidligere.<br/>
            #TODO: Fly administration mangler review<br/>
            #TODO: Validere proces for administrator med administration af managere<br/>
            #TODO: Validere proces for editor med administration af landingspladser og fly<br/>
            #TODO: Introducere redigering af ExitDate på fly så de forsvinder fra listen, men ikke fra systemet<br/>
            #TODO: Introducere ExitDate på medlemmer så de forsvinder fra listen, men ikke fra systemet<br/>
            #TODO: Historik over rettelser skal starte med filter kun relateret til egne flyvninger eller rettelser og så udvides hvis man vil se mere.<br/>
        </div>

        @switch (Request.Url.Host)
        {
            case "startlist.club":

                <div id="fb-root"></div>
                <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/da_DK/sdk.js#xfbml=1&appId=1505071653061127&version=v2.3";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-page" data-href="https://www.facebook.com/startlist.club" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
                break;
        }
    </div>
</div>
 