@{
    ViewBag.Title = "UHB530";
}
<style>
    .rulelistformat ol {
        counter-reset: item;
    }

    .rulelistformat li {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .rulelistformat li:before {
            content: counters(item, ".") " ";
            counter-increment: item;
        }

    .rulelistalphaformat ol {
        list-style-type: lower-alpha;
    }
    .rulelistalphaformat li:before {
        content: none;
        counter-increment: none;
    }
</style>
<h1>UHB530-Tilladelser, Journaler, Logbøger Etc.</h1>
<section class="rulelistformat">
    <ol>
        <li>
            <strong>DOKUMENTER</strong><br />
            Se PDF indhold på <a href="http://DSVU.DK">DSVU.DK</a> under UHB (Unions Håndbog Gruppe 530).
        </li>
        <li>
            <strong> BESTEMMELSER FOR FØRING AF PERSONLIG LOGBOG</strong>
            <ol>
                <li>

                    Bestemmelserne om registrering af flyvetid fremgår af <a href="http://selvbetjening.trafikstyrelsen.dk/civilluftfart/Dokumenter/Love%20og%20bestemmelser/Bestemmelser%20for%20Civil%20Luftfart%20(BL)/BL%2006-serien/6_04.pdf">BL 6-04</a>, Føring af flyvetid, der
                    har dannet grundlag for nedenstående bestemmelser for registrering af flyvetid for
                    svæveflyvning.
                </li>
                <li>
                    Logbogen skal føres med blæk eller kuglepen. Ingen raderinger må finde sted og ingen overstregninger, der gør det tidligere skrevne ulæseligt. Enhver rettelse skal attesteres af den, der
                    har foretaget den. Ingen blade må rives ud eller klæbes over.
                </li>

                <li>
                    Flyvetid skal registreres i personlig logbog.Flyvetid for svævefly regnes for det tidspunkt, hvor
                    det ved hjælp af den anvendte startanordning bringes i bevægelse i den hensigt at påbegynde
                    flyvning indtil det efter afsluttet flyvning er bragt til standsning. Ved flyvning med motorsvævefly, hvor der foretages flere starter og landinger på samme tur, skal hver af disse registreres
                    som en start.
                    Kun flyvning foretaget efter påbegyndelse af egentlig uddannelse iht. uddannelsesnormerne
                    må indgå i den samlede flyvestatus.
                    <ol>
                        <li>
                            Denne registrering (føring) skal indeholde:
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>a) Dato.</li>
                                    <li>
                                        b) Svæveflytype.
                                    </li>
                                    <li>
                                        c) Funktion som: Luftfartøjschef, instruktør, elev.
                                    </li>
                                    <li>
                                        d) Startsted.
                                    </li>
                                    <li>
                                        e) Ankomststed.
                                    </li>
                                    <li>
                                        f) Specifikation af flyvetid fordelt i følgende kategorier:
                                        Tid med motorkraft.
                                        Fri svæveflyvetid (incl. tid i flyslæb.
                                    </li>
                                    <li>
                                        g) Særlige bemærkninger (f.eks. rute - vendepunkt - antal km).
                                    </li>
                                    <li>
                                        h) Afbrudte starter, aktuelle såvel som simulerede, skal altid noteres med angivelse af
                                        højden hvori starten blev afbrudt.
                                    </li>
                                </ol>
                            </section>
                        </li>
                    </ol>
                </li>
                <li>
                    Flyvninger registreres således:
                    <ol>
                        <li>
                            En-sædet flyvning:<br />
                            Kun egne flyvninger registreres.
                        </li>
                        <li>
                            To-sædet flyvning:<br />
                            Ved to-sædet flyvning, hvor der er behov for instruktørmedvirken, og den medfølgende instruktør afslutter med at attestere i elevens/pilotens logbog, registrerer begge de ombordværende den pågældende flyvning.<br />
                            Ved anden to-sædet flyvning registrerer kun luftfartøjschefen den pågældende flyvning.<br />
                            Ved flyvninger, hvor der på grund af påtegning i luftfartøjschefens MC (Medical Certificate) medfølger en sikkerhedspilot jfr. UHB gr. 661, registrerer alene luftfartøjschefen flyvetiden, medmindre sikkerhedspiloten på grund af luftfartøjschefens inkapacitering må overtage føringen af flyet. I så fald registrerer alene sikkerhedspiloten flyvetiden for hele den samlede flyvning.
                        </li>
                    </ol>
                </li>
                <li>
                    Flyvetid på motorsvævefly:

                    <ol>
                        <li>
                            Indehaveren af svæveflyvercertifikat (S-certifikat) registrerer hele flyvetiden samt specifikation
                            af motor- og svæveflyvetid som flyvetid på svævefly.
                        </li>
                        <li>
                            Indehaveren af privatflyvercertifikat (A-certifikat) registrerer kun den del af flyvetiden
                            der er udført vha. motorkraft som flyvetid på flyvemaskine.
                        </li>
                        <li>
                            Indehaveren af både S-certifikat og A-certifikat registrerer flyvetiden enten som
                            flyvetid på svævefly eller som flyvetid på flyvemaskine.
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
</section>