@using FlightJournal.Web.Extensions
@model FlightJournal.Web.Models.Flight
@if (Model != null)
{
    @Model.Duration.TotalHoursWithMinutesAsDecimal()
    if (Model.Departure.HasValue && Model.Landing.HasValue && Model.Landing < Model.Departure)
    {
        var title = $"({_("ERROR")}) {_("Landing time is before or Departure time")}";
        <span class="fa fa-exclamation-triangle" style="color:red" title="@title"></span>
    }
}