@{
    ViewBag.Title = "Kom godt igang";
    using (var db = new FlightLog.Models.FlightContext())
    {
        ViewBag.Stats = db.Flights.Count().ToString();
    }    
}
<h2>@ViewBag.Title</h2>
<p>
    Startliste system oprindeligt udviklet til <a href="http://www.flyveklubben.dk">http://www.flyveklubben.dk</a> men udvidet til at kunne håndtere andre klubber også.<br />
    Totale antal registrerede flyvninger: @ViewBag.Stats
</p>
<h3>
    Status på systemet</h3>
<p>
    Det er på nuværende muligt at registrere flyvninger, se rettelseshistorik, se statistik på dag/måned/år, lave udtræk til Excel, logge på via Facebook og Google. <br/>
    Der er mulighed for at filtrere baggrund af klub, denne visning fastholder klub piloter eller klub flyveplads i visninger og statistikker.<br />
    <br/>
    Login systemet er gjort uafhængigt af Pilot listerne så ønsker du at blive oprettet som pilot skal du tag fat i din klubs redaktør. <br/>
    Rettelses historikken fungerer efter de samme principper som en Wiki hvor man til enhver tid kan se hvem som har rettet hvilke flyvninger, dette kan gøres op til 48 timer efter flyvningen fandt sted.<br/>
    <br/>
    Der er to niveauer af rettigheder i systemet, en bruger og en redaktør.<br />
    <b>En bruger</b> kan registrere flyvninger samt redigere i dem op til 48 efter den
    registerede dato. Der er rettelseshistorik på alle ændringer.<br />
    <b>Redaktøren</b> kan ændre alle former for data for klubben, alle startliste oplysninger,
    registrere nye fly og piloter, samt slette flvyninger.
</p>
<h3>
    Kildekode</h3>
<p>
    Løsningen er baseret på ASP.Net MVC 3 og Entity Framework 4.1 med en Code First tilgang til databasen.<br />
    Det er muligt at bidrage til kildekoden via projektet på Github.<br />
    <br />
    <a href="https://github.com/janhebnes/FlightJournal">https://github.com/janhebnes/FlightJournal</a><br />
    <br />
</p>
<p>
    Platform er holdt generel således at flere klubber kan bruge samme platform og website til at administrere deres startlister.
</p>
