@{
    ViewBag.Title = "UHB530 og UHB531";
}
<style>
    .rulelistformat ol {
        counter-reset: item;
    }

    .rulelistformat li {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .rulelistformat li:before {
            content: counters(item, ".") " ";
            counter-increment: item;
        }

    .rulelistalphaformat ol {
        list-style-type: lower-alpha;
    }
    .rulelistalphaformat li:before {
        content: none;
        counter-increment: none;
    }
</style>
<h2>UHB530 og 531 - Føring af Fly- og Personlig logbog.</h2>
<h3>Reference til gældende regler for journal føring fra Unionshåndbogen. </h3>
<hr/>
<div class="row">
    <div class=" col-md-8">
        <section class="rulelistformat">
            <ol>
                <li>
                    <strong>DOKUMENTER</strong><br />
                    Se PDF indhold på <a href="http://DSVU.DK">DSVU.DK</a> under UHB (Unions Håndbog Gruppe 530 og 531).
                </li>
                <li>
                    <strong> BESTEMMELSER FOR FØRING AF PERSONLIG LOGBOG</strong>
                    <ol>
                        <li>

                            Bestemmelserne om registrering af flyvetid fremgår af <a href="http://selvbetjening.trafikstyrelsen.dk/civilluftfart/Dokumenter/Love%20og%20bestemmelser/Bestemmelser%20for%20Civil%20Luftfart%20(BL)/BL%2006-serien/6_04.pdf">BL 6-04</a>, Føring af flyvetid, der
                            har dannet grundlag for nedenstående bestemmelser for registrering af flyvetid for
                            svæveflyvning.
                        </li>
                        <li>
                            Logbogen skal føres med blæk eller kuglepen. Ingen raderinger må finde sted og ingen overstregninger, der gør det tidligere skrevne ulæseligt. Enhver rettelse skal attesteres af den, der
                            har foretaget den. Ingen blade må rives ud eller klæbes over.
                        </li>

                        <li>
                            Flyvetid skal registreres i personlig logbog.Flyvetid for svævefly regnes for det tidspunkt, hvor
                            det ved hjælp af den anvendte startanordning bringes i bevægelse i den hensigt at påbegynde
                            flyvning indtil det efter afsluttet flyvning er bragt til standsning. Ved flyvning med motorsvævefly, hvor der foretages flere starter og landinger på samme tur, skal hver af disse registreres
                            som en start.
                            Kun flyvning foretaget efter påbegyndelse af egentlig uddannelse iht. uddannelsesnormerne
                            må indgå i den samlede flyvestatus.
                            <ol>
                                <li>
                                    Denne registrering (føring) skal indeholde:
                                    <section class="rulelistalphaformat">
                                        <ol>
                                            <li>a) Dato.</li>
                                            <li>
                                                b) Svæveflytype.
                                            </li>
                                            <li>
                                                c) Funktion som: Luftfartøjschef, instruktør, elev.
                                            </li>
                                            <li>
                                                d) Startsted.
                                            </li>
                                            <li>
                                                e) Ankomststed.
                                            </li>
                                            <li>
                                                f) Specifikation af flyvetid fordelt i følgende kategorier:
                                                Tid med motorkraft.
                                                Fri svæveflyvetid (incl. tid i flyslæb.
                                            </li>
                                            <li>
                                                g) Særlige bemærkninger (f.eks. rute - vendepunkt - antal km).
                                            </li>
                                            <li>
                                                h) Afbrudte starter, aktuelle såvel som simulerede, skal altid noteres med angivelse af
                                                højden hvori starten blev afbrudt.
                                            </li>
                                        </ol>
                                    </section>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Flyvninger registreres således:
                            <ol>
                                <li>
                                    En-sædet flyvning:<br />
                                    Kun egne flyvninger registreres.
                                </li>
                                <li>
                                    To-sædet flyvning:<br />
                                    Ved to-sædet flyvning, hvor der er behov for instruktørmedvirken, og den medfølgende instruktør afslutter med at attestere i elevens/pilotens logbog, registrerer begge de ombordværende den pågældende flyvning.<br />
                                    Ved anden to-sædet flyvning registrerer kun luftfartøjschefen den pågældende flyvning.<br />
                                    Ved flyvninger, hvor der på grund af påtegning i luftfartøjschefens MC (Medical Certificate) medfølger en sikkerhedspilot jfr. UHB gr. 661, registrerer alene luftfartøjschefen flyvetiden, medmindre sikkerhedspiloten på grund af luftfartøjschefens inkapacitering må overtage føringen af flyet. I så fald registrerer alene sikkerhedspiloten flyvetiden for hele den samlede flyvning.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Flyvetid på motorsvævefly:

                            <ol>
                                <li>
                                    Indehaveren af svæveflyvercertifikat (S-certifikat) registrerer hele flyvetiden samt specifikation
                                    af motor- og svæveflyvetid som flyvetid på svævefly.
                                </li>
                                <li>
                                    Indehaveren af privatflyvercertifikat (A-certifikat) registrerer kun den del af flyvetiden
                                    der er udført vha. motorkraft som flyvetid på flyvemaskine.
                                </li>
                                <li>
                                    Indehaveren af både S-certifikat og A-certifikat registrerer flyvetiden enten som
                                    flyvetid på svævefly eller som flyvetid på flyvemaskine.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>

                <li>
                    <strong>UHB531 - BESTEMMELSER FOR FØRING AF SVÆVEFLYJOURNAL</strong>
                    <ol>
                        <li>
                            1. GENERELT
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>1.1 Bestemmelser for føring af journaler fremgår af BL 1-19, Luftfartøjsdokumenter mv., der har dannet grundlag for nedenstående bestemmelser.</li>
                                    <li>1.2 Journalen skal ved oprettelsen indeholde identifikation af luftfartøjet, total flyvetid, starter og evt. tachotid. Endvidere skal den indeholde dokumentation for udført vedligeholdelse og ændringer.
                                        <ol><li>1.2.1 Der skal for motorsvæveflys vedkommende oprettes og føres særskilt motor- og propeljournal.</li></ol>
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            2. AUTORISATION
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>2.1 Når journal nr. 1 tages i brug skal den autoriseres af Statens Luftfartsvæsen . Efterfølgende
                            journaler autoriseres af en materielkontrollant. Når en journal er udskrevet, overfø-
                            res data som nævnt i pkt. 2. Der overføres dog kun de oplysninger om vedligeholdelse og
                            ændring, der er nødvendig for konstatering af den fortsatte luftdygtighed.</li>
                                    <li>
                                        2.2 Journalen skal altid følge svæveflyet. Udskrevne journaler skal opbevares af ejeren.
                                        Denne er ansvarlig herfor. Ved Ejerskift skal alle journaler følge med til den nye ejer.
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            3. RETTELSER
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>
                                        3.1 Journalen skal føres med blæk eller kuglepen. Ingen raderinger må finde sted, og ingen
                                        overstregninger, der gør det tidligere skrevne ulæseligt. Enhver rettelse skal attesteres af
                                        den, der har foretaget den. Ingen blade må rives ud eller klæbes over. Alt skal være ført
                                        let læseligt og underskrifter skal være identificerbare.
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            4. FØRING AF JOURNAL
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>
                                        4.1 Fartøjschefen er ansvarlig for journalens føring. Ejeren er ansvarlig for, at al vedligeholdelse
                                        og ændring af luftfartøjet indføres i journalen.
                                    </li>
                                    <li>
                                        4.2 Journalen udfyldes efter hver dags flyvning. Flyvetiden skal angives som svæveflyvetid
                                        og for motorsvævefly desuden tachotiden. I rubrikken "total" angives den akkumulerede
                                        flyvetid, mens der under "tachotid" anføres den totale tachotid.
                                    </li>
                                    <li>
                                        4.3 En dags lokalflyvninger, der er opført på startliste, kan føres på en enkelt linie med henvisning
                                        til den pågældende startliste. Dagens sidste fartøjschef kvitterer for overførslen af
                                        disse data i journalen. Hvis journalen er ført i henhold til startliste, skal startlisten opbevares
                                        i 5 år. Distanceflyvninger skal altid føres særskilt.
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            5. ANMÆRKNINGER
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>
                                        5.1 Hvis flyvningen har givet anledning til anmærkninger, skal dette bemærkes i anmærkningsfeltet
                                        med "Ja" af fartøjschefen umiddelbart efter den aktuelle flyvning. Anmærkningen
                                        noteres på anmærkningsbladet.
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            6. VEDLIGEHOLDELSESATTEST
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>
                                        6.1 Før flyvning påbegyndes, skal svæveflyvet have en gyldig vedligeholdelsesattest. Gyldigheden
                                        fremgår af svæveflyjournalen. Vedligeholdelsesattesten skal udfærdiges af en
                                        materielkontrollant. I tidsrummet mellem årligt syn kan en ejerpilot omskolet til typen udfærdige
                                        vedligeholdelsesattesten.
                                    </li>
                                    <li>
                                        6.2 En forudsætning for, at vedligeholdelsesattesten stadig er gyldig, er, at der ikke er givet
                                        anmærkninger, der gør flyet uluftdygtigt.            
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            7. EFTERSYN EFTER SAMLING
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>
                                        Efter samling skal den pilot, der har ansvaret for samlingen, kontrollere flyet og kvittere for samlingen
                                        i flyets journal. Kontrollen skal udføres som nævnt i gruppe 520.
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            8. DAGLIGT TILSYN
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>
                                        8.1 Før hver flyvedags første flyvning skal der udføres "dagligt tilsyn", jfr. gruppe 520.
                                    </li>
                                    <li>
                                        8.2 I svæveflyjournalen, ud for dagens første start, kvitteres for "DT ok", dato og underskrift,
                                        af en pilot omskolet til typen. I nyere journaler kvitteres i den særlige rubrik.
                                    </li>
                                </ol>
                            </section>
                        </li>
                        <li>
                            9. VISUEL INSPEKTION (PRE-FLIGHT CHECK)
                            <section class="rulelistalphaformat">
                                <ol>
                                    <li>
                                        9.1 Før hver flyvning skal der udføres visuel inspektion af flyet, herunder cockpitcheck.
                                    </li>
                                    <li>
                                        9.2 Der skal ikke kvitteres for visuel inspektion.
                                    </li>
                                </ol>
                            </section>
                        </li>
                    </ol>
                </li>
            </ol>
        </section>
    </div>
</div>