@using FlightJournal.Web.Extensions
@{
    ViewBag.Title = "Confirm Your Email Address";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Please click the confirmation link which was sent to you via Email.
    You will not be able to access the site until your email has been verified.
</p>
@if (HttpContext.Current.IsDebuggingEnabled && !string.IsNullOrWhiteSpace(ViewBag.Link))
{
    <p class="text-danger">
        For DEVELOPMENT only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    </p>
}
@if (string.IsNullOrWhiteSpace(ViewBag.Link))
{
    @Html.ActionLink("Resend confirmation email to " + User.Profile().Email, "ReGenerateEmailConfirmationEmail", null, new {@class = "btn btn-primary"})
}
else
{
    <div class="alert alert-success">The Email has been sent @DateTime.Now.ToShortTimeString() with subject: <strong>startlist.club - Confirm your account</strong>, please check your spam filters.</div>
}
