@using System.Diagnostics
@using FlightJournal.Web.Extensions
@{
    ViewBag.Title = "Email ikke fundet";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Der findes ingen konto eller pilot som matcher den email du har anmodet om at kode nulstille.<br />
        Bemærk at din klub skal oprette en pilotprofil som matcher din email og/eller dit mobilnummer.
        <br />
        <br />
        <em>Du skal kontakte den ansvarlige i din klub for at få oprettet en pilotprofil.</em>

        @if (Request.IsClub())
        {
            <br />
            <em>
                Kontakt oplysninger til den ansvarlige i <strong>@Request.Club().Name</strong> er
                @if (!string.IsNullOrWhiteSpace(Request.Club().ContactInformation))
                {
                    @Request.Club().ContactInformation
                }
                else
                {
                    @: ikke oplyst.
                    }
            </em>
        }
        <br/>
        <h2>Er din klub ikke i system ?</h2>
        Du kan fortsat @Html.ActionLink("oprette en konto", "Register"), men den vil ikke blive bundet til en pilot og du vil derfor ikke kunne oprette eller redigere flyvninger i systemet før du f.eks. får oprettet klubben ved at tag fat i os. <br/>
    </p>
</div>

