@using System.Diagnostics
@{
    ViewBag.Title = "Kontoen tilknyttet @ViewBag.Pilot er nu oprettet";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Du skal s&aelig;tte din kode ved at klikke det link som er sendt til @ViewBag.Email med emnet <em>Startlist.club - Set Password</em>, husk at tjekke spam filteret.
    </p>
    @*@if (HttpContext.Current.IsDebuggingEnabled)
        {
            <p class="text-danger">
                For DEVELOPMENT AND DEBUG only: You can click this link to set password: <a href="@ViewBag.Link">link</a>
            </p>
        }*@
</div>

